body {
  padding: 20px 0;
}

.container {
  text-align: center;
}

h1 {
  font-size: 60px;
}

h1 em {
  display: block;
  font-size: 18px;
  margin-top: 10px;
  color: #777;
}

h3 {
  margin: 20px 0;
  font-size: 34px;
  font-weight: 300;
}

.detail {
  margin-bottom: 10px;
  font-size: 24px;
  color: #777;
}

.row {
  margin-bottom: 20px;
}
